[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/papercolor-theme.git"]
	path = vim/bundle/papercolor-theme.git
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/bundle/gitgutter.git"]
	path = vim/bundle/gitgutter.git
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/better-whitespace"]
	path = vim/bundle/better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
