vim/.netrwhist
SublimeUserPackage/Package Control.cache
SublimeUserPackage/Package Control.last-run
SublimeUserPackage/Package Control.*ca-bundle
SublimeUserPackage/TextPastryHistory.sublime-settings
SublimeUserPackage/GoSublime-aux.sublime-settings
SublimeUserPackage/GoSublime/*
