fpath+=($HOME/.zsh/pure)
FZF_CTRL_R_OPTS=--reverse

export FPATH=$FPATH:/opt/homebrew/opt/lsd/share/zsh/site-functions

source /opt/homebrew/opt/fzf/shell/key-bindings.zsh
# source /opt/homebrew/opt/fzf/shell/completion.zsh
source ~/.zsh/git.sh
source ~/.zsh/history.sh
source ~/.zsh/completion.sh
source ~/.zsh/aliases.sh
source ~/.zsh/bindings.sh

source ~/private.sh

export EDITOR="code --wait"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export FPATH=$FPATH:$HOME/bin
export PATH="$HOME/bin:$PATH"
export PATH="$HOME/go/bin:$PATH"

# Pure https://github.com/sindresorhus/pure
export PURE_CMD_MAX_EXEC_TIME="1"
export PURE_GIT_PULL=0
autoload -Uz compinit; compinit
autoload -U promptinit; promptinit
prompt pure

# mise
eval "$(/Users/albert/.local/bin/mise activate zsh)"

#brew
export HOMEBREW_PREFIX="/opt/homebrew";
export HOMEBREW_CELLAR="/opt/homebrew/Cellar";
export HOMEBREW_REPOSITORY="/opt/homebrew";
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin${PATH+:$PATH}";
export MANPATH="/opt/homebrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/opt/homebrew/share/info:${INFOPATH:-}";

{{- if eq .email "albert.callarisa@form3.tech" }}
export OPENSSL_CONF=$HOME/openssl.cnf
source "/opt/homebrew/share/google-cloud-sdk/path.zsh.inc"
source "/opt/homebrew/share/google-cloud-sdk/completion.zsh.inc"
{{- end }}