fpath+=($HOME/.zsh/pure)
FZF_CTRL_R_OPTS=--reverse

source /opt/homebrew/opt/fzf/shell/key-bindings.zsh
source /opt/homebrew/opt/fzf/shell/completion.zsh
source ~/.zsh/git.sh
source ~/.zsh/history.sh
source ~/.zsh/completion.sh
source ~/.zsh/aliases.sh
source ~/.zsh/bindings.sh

source ~/private.sh

export EDITOR="code --wait"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export PATH="$HOME/bin:$PATH"
export PATH="$HOME/go/bin:$PATH"

# Pure https://github.com/sindresorhus/pure
export PURE_CMD_MAX_EXEC_TIME="1"
export PURE_GIT_PULL=0
autoload -Uz compinit; compinit
autoload -U promptinit; promptinit
prompt pure

# asdf
. "$HOME/.asdf/asdf.sh"
