<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.domain.dev-tunnel</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ssh</string>
		<string>-L</string>
		<string>50071:localhost:51071</string>
		<string>-L</string>
		<string>50061:localhost:50061</string>
		<string>-N</string>
		<string>dev</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
