{
    "editor.rulers": [
      100,
      120
    ],
    "editor.tabSize": 2,
    "telemetry.enableTelemetry": false,
    "telemetry.enableCrashReporter": false,
    "git.confirmSync": false,
    "search.useIgnoreFiles": true,
    "explorer.openEditors.visible": 0,
    "files.associations": {
      "Makefile.*": "makefile",
      "Dockerfile-*": "dockerfile"
    },
    "go.gotoSymbol.ignoreFolders": [
      "vendor"
    ],
    "go.enableCodeLens": {
      "references": false,
      "runtest": false
    },
    "go.lintTool": "golangci-lint",
    "go.lintOnSave": "off",
    "go.vetOnSave": "off",
    "go.formatTool": "goimports",
    "go.useLanguageServer": true,
    "go.languageServerExperimentalFeatures": {
      "diagnostics": true // for diagnostics as you type
    },
    "[go]": {
      // "editor.snippetSuggestions": "top",
      "editor.formatOnSave": true,
      "editor.codeActionsOnSave": {
        "source.organizeImports": true
      }
    },
    "gopls": {
      "usePlaceholders": true, // add parameter placeholders when completing a function
      // Experimental settings
      "completeUnimported": true, // autocomplete unimported packages
      "deepCompletion": true      // enable deep completion
    },
    "gitlens.currentLine.enabled": false,
    "gitlens.codeLens.authors.enabled": false,
    "gitlens.codeLens.recentChange.enabled": false,
    "editor.quickSuggestions": {
      "other": false,
      "comments": false,
      "strings": false
    },
    "editor.snippetSuggestions": "top",
    "editor.tabCompletion": "onlySnippets",
    "files.exclude": {
      "**/.classpath": true,
      "**/.project": true,
      "**/.settings": true,
      "**/.factorypath": true
    },
    "files.eol": "\n",
    "workbench.iconTheme": "vscode-icons",
    "editor.fontSize": 12,
    "editor.fontLigatures": true,
    "vsicons.dontShowNewVersionMessage": true,
    "editor.fontFamily": "'Fira Code', 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'",
    "workbench.colorTheme": "GitHub Dark Dimmed",
    "explorer.confirmDragAndDrop": false,
    "editor.cursorSurroundingLines": 4,
    "diffEditor.ignoreTrimWhitespace": false,
    "search.quickOpen.history.filterSortOrder": "recency",
    "editor.suggestSelection": "first",
    "window.title": "${rootName}${dirty}",
    "files.insertFinalNewline": true,
    "extensions.ignoreRecommendations": true,
    "files.trimTrailingWhitespace": true,
    "explorer.decorations.colors": true,
    "explorer.decorations.badges": true,
    "editor.codeLens": false,
    "workbench.startupEditor": "none",
    "terminal.integrated.env.osx": {
      "FIG_NEW_SESSION": "1"
    },
    "editor.accessibilitySupport": "off",
    "go.toolsManagement.autoUpdate": true,
    "editor.stickyScroll.enabled": true
  }
