snippet ps
console.log('===> $1: ', $1);
endsnippet

snippet psj
console.log('===> JSON $1: ', JSON.stringify($1, null, 2));
endsnippet

snippet rerr
if($2) { return ${1:cb}(${2:err}); }
endsnippet

snippet .t "then..." i
.then(function($1) {
	$0
})
endsnippet

snippet .c
.catch(function($1) {
	$0
})
endsnippet

snippet fn
function($1) {$0}
endsnippet
