{
  "editor.rulers": [
    100,
    120
  ],
  "editor.tabSize": 2,
  "telemetry.enableTelemetry": false,
  "telemetry.enableCrashReporter": false,
  "git.confirmSync": false,
  "search.useIgnoreFiles": true,
  "explorer.openEditors.visible": 0,
  "files.associations": {
    "Makefile.*": "makefile",
    "Dockerfile-*": "dockerfile"
  },
  "go.gotoSymbol.ignoreFolders": [
    "vendor"
  ],
  "go.enableCodeLens": {
    "references": false,
    "runtest": false
  },
  "go.gopath": "/home/albert/go",
  "go.lintTool": "golangci-lint",
  "go.lintOnSave": "off",
  "go.vetOnSave": "off",
  "go.formatTool": "goimports",
  "go.useLanguageServer": true,
  "go.languageServerExperimentalFeatures": {
    "diagnostics": true // for diagnostics as you type
  },
  "[go]": {
    // "editor.snippetSuggestions": "top",
    "editor.formatOnSave": true,
    "editor.codeActionsOnSave": {
      "source.organizeImports": true
    }
  },
  "gopls": {
    "usePlaceholders": true, // add parameter placeholders when completing a function
    // Experimental settings
    "completeUnimported": true, // autocomplete unimported packages
    "deepCompletion": true      // enable deep completion
  },
  "gitlens.currentLine.enabled": false,
  "gitlens.codeLens.authors.enabled": false,
  "gitlens.codeLens.recentChange.enabled": false,
  "editor.quickSuggestions": {
    "other": false,
    "comments": false,
    "strings": false
  },
  "editor.snippetSuggestions": "top",
  "editor.tabCompletion": "onlySnippets",
{{- if eq .email "albert.callarisa@form3.tech" }}
  "window.zoomLevel": -1,
{{- else }}
  "window.zoomLevel": 0,
{{- end }}
  "files.exclude": {
    "**/.classpath": true,
    "**/.project": true,
    "**/.settings": true,
    "**/.factorypath": true
  },
  "files.eol": "\n",
  "workbench.iconTheme": "vscode-icons",
  "window.menuBarVisibility": "toggle",
  "editor.fontSize": 12,
  "editor.fontLigatures": true,
  "vsicons.dontShowNewVersionMessage": true,
  "editor.fontFamily": "'Fira Code', 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'",
  "workbench.colorTheme": "One Monokai",
  "explorer.confirmDragAndDrop": false,
  "editor.cursorSurroundingLines": 4,
  "diffEditor.ignoreTrimWhitespace": false,
  "search.quickOpen.history.filterSortOrder": "recency",
  "editor.suggestSelection": "first",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "java.home": "/usr/lib/jvm/java-1.11.0-openjdk-amd64",
  "spring-boot.ls.java.home": "/usr/lib/jvm/java-1.11.0-openjdk-amd64",
  "java.jdt.ls.vmargs": "-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m -javaagent:\"/home/albert/.vscode/extensions/gabrielbb.vscode-lombok-1.0.1/server/lombok.jar\"",
  "java.requirements.JDK11Warning": false,
  "java.semanticHighlighting.enabled": false,
  "window.title": "${rootName}${dirty}",
  "go.goroot": "/home/albert/.asdf/installs/golang/1.15/go",
  "vs-kubernetes": {
    "vs-kubernetes.minikube-path.linux": "/home/albert/.vs-kubernetes/tools/minikube/linux-amd64/minikube"
  },
  "files.insertFinalNewline": true,
  "extensions.ignoreRecommendations": true,
  "files.trimTrailingWhitespace": true,
  "java.project.importHint": false,
  // "workbench.editor.wrapTabs": true,
  // "workbench.editor.tabSizing": "shrink",
  "explorer.decorations.colors": true,
  "explorer.decorations.badges": true,
}
