#!/bin/bash

{{- if eq .email "albert.callarisa@form3.tech" }}
internal=eDP-1-1
external=DP-1-3
{{- end }}
{{- if eq .email "albert@acroca.com" }}
internal=eDP-1
external=HDMI-2
{{- end }}


if xrandr | grep "$external disconnected"; then
  xrandr --output "$external" --off --output "$internal" --auto
elif cat /proc/acpi/button/lid/LID0/state | grep "closed"; then
  xrandr --output "$internal" --off --output "$external" --auto
else
  xrandr \
    --output $external --auto --scale 2x2 --primary --right-of $internal \
    --output $internal --auto --pos 0x0
fi
