#!/bin/bash

{{- if (index . "external_screen") }}

if xrandr | grep "{{ .external_screen }} disconnected"; then
  xrandr --output "{{ .external_screen }}" --off --output "{{ .internal_screen }}" --auto --mode {{ .internal_screen_w }}x{{ .internal_screen_h }}
else
  xrandr --output {{ .external_screen }} --primary --mode {{ .external_screen_w }}x{{ .external_screen_h }} --output {{ .internal_screen }} --off
fi

{{- else }}
  xrandr --auto
{{- end }}
